<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="top-footer">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="right-footer">
                <h5><strong>Bet with Hollywoodbets</strong></h5>
                <p>We offer the best in <strong>sports and horse racing betting</strong>. Our sports betting site features a large variety of events and markets to bet on, with expert betting support both online and in-store. We offer local and international horse racing betting, an extensive sports offering from soccer to rugby&nbsp;as well as our fantastic <strong>Lucky Numbers</strong> offering. We are also proud to offer live betting with our <strong>Live In-Play</strong> and <strong>Betgames Africa</strong> options.</p>
                <p class="tc"><strong>Hollywoodbets strictly prohibits access and services to those under the legal age of Eighteen (18+)&nbsp;</strong></p>
            </div>
        </div>
        <div class="col-md-5" style="padding: 15px 0px;">
            <div class="row">
                <div class="col-md-3">
                    <h6>About Us</h6>
                    <a href="">About Us</a>
                </div>
                <div class="col-md-3">
                    <h6>Video</h6>
                    <div class="row">
                        <a href="" class="ml-3">CSI Videos</a>
                    </div>
                    <div class="row">
                        <a href="" class="ml-3">How To Register</a>
                    </div>
                    <div class="row">
                        <a href="" class="ml-3">How To Bet</a>
                    </div>
                    <div class="row">
                        <a href="" class="ml-3">How To Deposit and Withdrawal </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <h6>Info</h6>
                    <div class="row">
                        <a href="" class="ml-3">Applications</a>
                    </div>
                    <div class="row">
                        <a href="" class="ml-3">Internet Liability</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <h6>Legal</h6>
                    <div class="row">
                        <a href="" class="ml-3">Responsible Gambling</a>
                    </div>
                    <div class="row">
                        <a href="" class="ml-3">Disclaimer</a>
                    </div>
                    <div class="row">
                        <a href="" class="ml-3">Terms and Conditions </a>
                    </div>
                    <div class="row">
                        <a href="" class="ml-3">Gambling Boards</a>
                    </div>
                    <div class="row">
                        <a href="" class="ml-3">Cash Send - Terms and Conditions</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" >
            <div class="row ml-1"style="padding: 15px; padding-left: 15px">
                    <button class="facebook-button mr-2 mb-1"><i class="fa fa-facebook-f"></i></button>
                    <button class="twitter-button mr-2 mb-1"><i class="fa fa-twitter mr-3"></i></button>
                    <button class="cell-button mr-2 mb-1"><i class="fa fa-mobile"></i></button>
                    <button class="instagram-button mr-2 mb-1"><i class="fa fa-instagram"></i></button>
                    <button class="youtube-button mr-2 mb-1"><i class="fa fa-youtube"></i></button>
                    <button class="blogger-button mr-2 mb-1"><i class="fa fa-cubes"></i></button>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row">
    <div class="text-center">
        <img src="https://hollywoodmedia.hollywoodbets.net/images/cms/new-website/images/ozow.png" alt="OZOW payment method">
        <img src="https://hollywoodmedia.hollywoodbets.net/images/cms/new-website/images/peach-payments.png" alt="Peach Payments payment method">
        <img src="https://hollywoodmedia.hollywoodbets.net/images/cms/new-website/images/virtual.png" alt="Virtual card service payment method">
        <img src="https://hollywoodmedia.hollywoodbets.net/images/cms/new-website/images/payfast.png" alt="PayFast payment method">
        <img src="https://hollywoodmedia.hollywoodbets.net/images/cms/new-website/images/sid-instant-eft.png" alt="SiD Instant EFT">
        <img src="https://hollywoodmedia.hollywoodbets.net/images/cms/new-website/images/zapper.png" alt="Zapper payment method">
        <img src="https://hollywoodmedia.hollywoodbets.net/images/cms/new-website/images/payu.png" alt="PayU">
    </div>
</div>

<div class="bottom-footer">
<div class="row">
    <div class="col-lg-3">
        
    </div>
    <div class="col-lg-6 mt-3 mb-3">
        <p>HOLLYWOOD SPORTSBOOK IS A LICENSED BETTING OPERATOR. HOLLYWOODBETS SUPPORTS RESPONSIBLE GAMBLING.&nbsp;<br>NO PERSONS UNDER THE AGE OF 18 YEARS ARE PERMITTED TO GAMBLE. WINNERS KNOW WHEN TO STOP.NATIONAL GAMBLING TOLL-FREE COUNSELLING LINE 0800 006 008.</p>
    </div>
    <div class="col-lg-3">

    </div>
</div>
</div>