<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="col-md-2">
        <a class="navbar-brand" href="#">
            <img src="assets/images/header-logo.png" height="40" width="120">
        </a>
        </div>
        <div class="col-md-8">

        </div>
        <div class="col-md-2">
            <div class="buttons" style="display: inline;">
            <button class="btn btn-sm btn-outline-secondary login" type="button" style="font-family: sans-serif; background-color: #643e94; border: 1px solid #643e94 !important; font-size: 15px; color: #ebebeb; border-radius: 0 !important; padding-top: 9.5px; padding-bottom: 9.5px;padding-right: 15px; padding-left: 15px; margin: 0px 12px 0px;" >Log In</button>
            <button class="btn btn-sm btn-outline-secondary register" type="button" style="font-family: sans-serif; background-color: #31b35d;font-size: 15px; border: 1px solid #31b35d !important; color: #ebebeb; border-radius: 0 !important; padding-top: 9.5px; padding-bottom: 9.5px;padding-right: 15px; padding-left: 15px;">Register</button>
            </div>
        </div>
      </nav>

<div class="middle-nav">
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Branches</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Videos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Careers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Promotions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Results</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
            </nav>
    </div>

<div class="bottom-nav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="col-md-1">
            <a class="navbar-brand" href="#">
                <i class="fa fa-home" style="color: #666;"></i>
            </a>
            </div>
            <div class="col-md-8">
    
            </div>
                <p class="odds mt-3 ml-5" style="color: #fff;">Odds</p>
            <li class="nav-item dropdown mb-3">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #fcbf12">
                  Decimal 
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Decimal</a>
                  <a class="dropdown-item" href="#">Fraction</a>
                </div>
              </li>
                <p class="date-time mt-3 mr-2" style="color: #fff !important; width: 400px;">{{today | date:'medium'}}</p>
          </nav>
    </div>
        
